<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsp.project.system.mapper.SysUserNameMapper">
    
    <resultMap type="SysUserName" id="SysUserNameResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="idNumber"    column="id_number"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectSysUserNameVo">
        select id, user_id, id_number, name from sys_user_name
    </sql>

    <select id="selectSysUserNameList" parameterType="SysUserName" resultMap="SysUserNameResult">
        <include refid="selectSysUserNameVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="idNumber != null  and idNumber != ''"> and id_number = #{idNumber}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysUserNameById" parameterType="String" resultMap="SysUserNameResult">
        <include refid="selectSysUserNameVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysUserName" parameterType="SysUserName">
        insert into sys_user_name
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="idNumber != null  and idNumber != ''">id_number,</if>
            <if test="name != null  and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="idNumber != null  and idNumber != ''">#{idNumber},</if>
            <if test="name != null  and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateSysUserName" parameterType="SysUserName">
        update sys_user_name
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="idNumber != null  and idNumber != ''">id_number = #{idNumber},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysUserNameById" parameterType="String">
        delete from sys_user_name where id = #{id}
    </delete>

    <delete id="deleteSysUserNameByIds" parameterType="String">
        delete from sys_user_name where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>